<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        <title>Super Hero Sightings</title>
    </head>

    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <center>
                            <h1>
                                The Superest Sightings Website On the Interwebs
                            </h1>
                        </center>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2">

                            <button type="button" onclick="location.href = 'home'" style="width:80%" class="btn btn-success">
                                Home
                            </button>
                        </div>
                        <div class="col-md-2">

                            <button type="button" onclick="location.href = 'heroes'" style="width:80%" class="btn btn-success">
                                Heroes
                            </button>
                        </div>
                        <div class="col-md-2">

                            <button type="button" onclick="location.href = 'powers'" style="width:80%" class="btn btn-success">
                                Powers
                            </button>
                        </div>
                        <div class="col-md-2">

                            <button type="button" onclick="location.href = 'organizations'" style="width:80%" class="btn btn-success">
                                Organizations
                            </button>
                        </div>
                        <div class="col-md-2">

                            <button type="button" onclick="location.href = 'sightings'" style="width:80%" class="btn btn-success">
                                Sightings
                            </button>
                        </div>
                        <div class="col-md-2">

                            <button type="button" onclick="location.href = 'locations'" style="width:80%" class="btn btn-success">
                                Locations
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="row m-4">
                        <p>
                            Welcome to “The Superest Sightings Website On the Interwebs!” Here at TSSWOTI we don’t concern ourselves with fancy layouts 
                            or dynamic backgrounds <i>*cough*Brandon*cough*</i>. We’re here to do one thing. Store data on your favorite super heroes and super villains! 
                            You know of a super organization that isn’t in the database? Add it in! A new hero arrives and isn’t in the database? Put em in! 
                            A super villain successfully does an experiment to give himself a new power? Edit that villain and give him the new power! 
                            The possibilities are endless!
                        </p>
                        <p>
                            In addition to storing information on your favorite heroes and villains, we also keep in our database a list of sightings! 
                            If you see a super hero and super villain duking it out be sure to add it into the database!
                        </p>
                        <p>
                            <b>A Few notes on sightings:</b>
                        </p>
                        <p>
                            A sighting must have a location. If you do not see a location for the sighting you may need to add it into the database first!
                        </p>
                        <p>
                            Also, since sightings must have a location, if you delete a location it will delete the sightings associated with it. So if a 
                            super battle destroys Central Park don’t delete Central Park, just edit it and put in the description that it was destroyed!
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <center><h5>10 Most Recent Sightings</h5></center>
                    <div class="row m-4 border">
                        <div class="col text-center m-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Location</th>
                                        <th>Date And Time</th>
                                        <th>Heroes</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="sighting : ${sightings}">
                                        <td th:text="${sighting.id}">Sighting Id</td>
                                        <td th:text="${sighting.sightLocation.name}">Location Name</td>
                                        <td th:text='${sighting.dateTime}'>Date and Time</td>
                                        <td>
                                            <div th:each="hero : ${sighting.heroesAtSighting}">
                                                <span th:text="${hero.name}"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

        <script>


        </script>
    </body>

</html>
